/POO2/Threads/nbproject/private/
/POO2/Threads/build/
/SW4/veterinaria/build/
/SW4/veterinaria/dist/
/SW4/garagem/dist/
/POO2/Aula27-10/nbproject/private/
/POO2/Aula09-11/Sincronizacao/nbproject/private/
/Aula09-11/nbproject/private/
/POO2/Aula09-11/nbproject/private/
/POO2/JantarFilosofos/target/
